body{
    font-family: 'Open Sans', sans-serif;
    padding:0;  
    margin:0;

}

.container{
    margin-left: 5% !important;
}
.active{
    font-size:1.2rem;
    font-weight:600;
}
.sidebar{
    min-height:100vh;

}


@media (max-width:450px){
   
    .sidebar-down{
        bottom:initial;
    }
    .sidebar{
        min-height:60vh
    }
    #actions .btn{
        margin-bottom:10px;
    }

}