body{
    font-family: 'Open Sans', sans-serif;
    padding:0;  
    margin:0;
}

.container{
    margin-left: 5% !important;
}
.active{
    font-size:1.2rem;
    font-weight:600;
}
.sidebar{
    min-height:100vh;

}

@media (max-width:420px){   
    .sidebar{
        min-height:10vh;
    
    }
    .sidebar-up{
        margin-bottom: 80px;
    } 
    #actions .btn{
       
        display:contents;
    }
}

